<div class="text-center">
  <h1>Documented Projects</h1>
</div>
<!-- Table header-->
<div class="container-fluid">
  <div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-desktop"></i> <%= @projects.count %> projects returned <%= project_refresh_helper %>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class = "text-center">Name</th>
            <th class = "text-center">Description</th>
            <th class = "text-center" colspan="3">Options</th>
          </tr>
        </thead>

        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <td><%= project.name %></td>
              <td><%= project.description %></td>
              <td><%= link_to 'Environments', project, class: "btn btn-info" %></td>
              <td><%= link_to 'Rename', edit_project_path(project), class: "btn btn-primary" %></td>
              <td><%= link_to 'Delete', project, method: :delete, data: {
                confirm: 'Are you sure? This will delete all environments for this project.' }, class: "btn btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= render partial: "modal_form", locals: { project: @new_project } %>

<div class="text-center">
  <%= link_to("Add a new project", nil,  {"data-toggle" => "modal", "data-target" => "#newProjectModal"}) %>
</div>
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newProjectModal">
  Launch demo modal
</button> -->
