<div class="text-center">
  <h2>You are editing <strong><%= @project %> : <%= @environment.name %></strong></h2>
</div>

<%= render 'form', environment: @environment %>


<%= link_to 'Show', projects_path %> |
<%= link_to 'Back', projects_path %>
