<center><h1>Editing environment for <%= @project %> (<%= @environment.name %>) </h1></center>

<%= render 'form', environment: @environment %>


<%= link_to 'Show', projects_path %> |
<%= link_to 'Back', projects_path %>
